<section class="section section-sm section-fluid bg-default text-center" id="computacion">
    <div class="container-fluid">
        <h2 class="wow fadeInLeft">{{compTitle}}</h2>
        <p class="quote-jean2 wow fadeInRight" data-wow-delay=".1s">{{compDesc}}</p>
        <div class="isotope-filters isotope-filters-horizontal">
        <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-7" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true"><span class="icon fa fa-caret-down"></span>Ver</button>
        <ul class="isotope-filters-list" id="isotope-7">
            <li><a class="active" href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">{{compSecTitle1}}</a></li>
            <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">{{compSecTitle2}}</a></li>
            <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">{{compSecTitle3}}</a></li>
            <li><a href="#" data-isotope-filter="Type 4" data-isotope-group="gallery">{{compSecTitle4}}</a></li>
        </ul>
        </div>
        <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
        
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/est.png" alt="" width="420" height="350" id="eq1"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiCompTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiCompDesc1}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/servidor-1.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-cube29" href="#computacion"><img src="images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiServTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiServDesc1}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/redes.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#computacion"><img src="images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiRedTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiRedDesc1}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/redes-1.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiCompTitle2}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiCompDesc2}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/serv.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiCompTitle3}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiCompDesc3}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 2" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/servidor-2.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-cube29" href="#computacion"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiServTitle2}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiServDesc2}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/ups.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-monitor74" href="#computacion"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{equiCompTitle4}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{equiCompDesc4}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 4" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/mant.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-wrench66" href="#computacion"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{sopTecTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{sopTecDesc1}}</p>
            </div>
            </article>
        </div>
         
        </div>
    </div>
</section>