<section class="section section-sm section-fluid bg-default text-center" id="fiscal">
    <div class="container-fluid">
        <h2 class="wow fadeInLeft">{{equipTitle}}</h2>
        <p class="quote-jean2 wow fadeInRight" data-wow-delay=".1s">{{equipDesc}}</p>
        <div class="isotope-filters isotope-filters-horizontal">
        <button class="isotope-filters-toggle button button-md button-icon button-icon-right button-default-outline button-wapasha" data-custom-toggle="#isotope-3" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true"><span class="icon fa fa-caret-down"></span>Ver</button>
        <ul class="isotope-filters-list" id="isotope-3">
            <li><a class="active" href="#" data-isotope-filter="Type 1" data-isotope-group="gallery">{{equiSecTitle1}}</a></li>
            <li><a href="#" data-isotope-filter="Type 2" data-isotope-group="gallery">{{equiSecTitle2}}</a></li>
            <li><a href="#" data-isotope-filter="Type 3" data-isotope-group="gallery">{{equiSecTitle3}}</a></li>
            <li><a href="#" data-isotope-filter="Type 4" data-isotope-group="gallery">{{equiSecTitle4}}</a></li>
            <li><a href="#" data-isotope-filter="Type 5" data-isotope-group="gallery">{{equiSecTitle5}}</a></li>    
        </ul>
        </div>
        <div class="row row-30 isotope" data-isotope-layout="fitRows" data-isotope-group="gallery" data-lightgallery="group">
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 4">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/rep.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-wrench66" href="#fiscal"><img src="images/fullwidth-gallery-1-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{sopTecTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{sopTecDesc}}</p>
            </div>
            </article>
           
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/impresora-1.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-2-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{impFiscTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{impFiscDesc1}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 2" data-wow-delay=".2s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/maquina-1.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-3-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{maqFiscTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{maqFiscDesc1}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInRight" data-filter="Type 3" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/dtrans-1.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#fiscal"><img src="images/fullwidth-gallery-4-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{disTransTitle1}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{disTransDesc1}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/dtrans-2.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#fiscal"><img src="images/fullwidth-gallery-5-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{disTransTitle2}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{disTransDesc2}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".1s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/impresora-2.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-6-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{impFiscTitle2}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{impFiscDesc2}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 5" data-wow-delay=".2s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/rep-1.png" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-wrench66" href="#fiscal"><img src="images/fullwidth-gallery-7-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{repSumTitle}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{repSumDesc}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 3" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/dtrans-3.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-planetary2" href="#fiscal"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{disTransTitle3}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{disTransDesc3}}</p>
            </div>
            </article>
        </div>
        <div class="col-sm-6 col-lg-4 col-xxl-3 isotope-item wow fadeInLeft" data-filter="Type 1" data-wow-delay=".3s">
            <!-- Thumbnail Classic-->
            <article class="thumbnail thumbnail-classic thumbnail-md">
            <div class="thumbnail-classic-figure"><img src="images/impresora-3.jpg" alt="" width="420" height="350"/>
            </div>
            <div class="thumbnail-classic-caption">
                <div class="thumbnail-classic-title-wrap"><a class="icon fl-bigmug-line-print34" href="#fiscal"><img src="images/fullwidth-gallery-8-420x350.jpg" alt="" width="420" height="350"/></a>
                <h5 class="thumbnail-classic-title">{{impFiscTitle3}}</h5>
                </div>
                <p class="thumbnail-classic-text">{{impFiscDesc3}}</p>
            </div>
            </article>
        </div>
        </div>
    </div>
</section>