<!-- Page Header-->
<header class="section page-header">
	<!-- RD Navbar-->
	<div class="rd-navbar-wrap">
		<nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
			<div class="rd-navbar-main-outer">
				<div class="rd-navbar-main">
					<!-- RD Navbar Panel-->
					<div class="rd-navbar-panel">
					<!-- RD Navbar Toggle-->
					<button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
					<!-- RD Navbar Brand-->
					<div class="rd-navbar-brand"><a class="brand" href="/"><img src="images/sios-logol-1.png" alt="" width="223" height="50"/></a></div>
					</div>
					<div class="rd-navbar-main-element">
					<div class="rd-navbar-nav-wrap">
						<div>
							<a href="https://wa.me/584166025883?text=¡Hola!%20Vengo%20de%20la%20página%20web%20y%20me%20gustaría%20saber%20más%20sobre%20las%20soluciones%20que%20ofrece%20Sios%20Asesores%20C.A."><img id="whatsapp" src="images/whatsapp.png" alt="" title="¡Escribenos!" height="40" width="40"></a>
						</div>
						<ul class="rd-navbar-nav">
						<li class="rd-nav-item active"><a class="rd-nav-link" href="{{inicio}}">Inicio</a></li>
						<li class="rd-nav-item"><a class="rd-nav-link" href="{{servicios}}">Servicios</a></li>
						<li class="rd-nav-item"><a class="rd-nav-link" href="{{profit}}">Profit Plus</a></li>
						<li class="rd-nav-item"><a class="rd-nav-link" href="{{sigesp}}">Sigesp</a></li>
						<li class="rd-nav-item"><a class="rd-nav-link" href="{{nosotros}}">Nosotros</a></li>
						<li class="rd-nav-item"><a class="rd-nav-link" href="{{contacto}}">Contacto</a></li>

						</ul>
					</div>
					</div>
				</div>
			</div>
		</nav>
	</div>
</header>