<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-classic" data-loop="true" data-autoplay="4859" data-simulate-touch="true" data-direction="vertical" data-nav="false">
    <div class="swiper-wrapper text-center">
        <div class="swiper-slide" data-slide-bg="images/bg-4.jpg">
        <div class="swiper-slide-caption section-md">
            <div class="container">
            <h1 id="t1" data-caption-animate="fadeInLeft" data-caption-delay="0">{{swipTitle1}}</h1>
            <p id="p1" class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">{{swipDesc1}}</p><a class="button button-primary button-ujarak" href="#profit" data-caption-animate="fadeInUp" data-caption-delay="200">{{swipButt1}}</a>
            </div>
        </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/sigesp-bg.png">
        <div class="swiper-slide-caption section-md">
            <div class="container">
            <h1 id="t1" data-caption-animate="fadeInLeft" data-caption-delay="0">{{swipTitle2}}</h1>
            <p id="p1" class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">{{swipDesc2}}</p><a class="button button-primary button-ujarak" href="#sigesp" data-caption-animate="fadeInUp" data-caption-delay="200">{{swipButt2}}</a>
            </div>
        </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/bg-3.jpg">
        <div class="swiper-slide-caption section-md">
            <div class="container">
            <h1 id="t1" data-caption-animate="fadeInLeft" data-caption-delay="0">{{swipTitle3}}</h1>
            <p id="p1" class="text-width-large" data-caption-animate="fadeInRight" data-caption-delay="100">{{swipDesc3}}</p><a class="button button-primary button-ujarak" href="#fiscal" data-caption-animate="fadeInUp" data-caption-delay="200">{{swipButt3}}</a>
            </div>
        </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination__module">
        <div class="swiper-pagination__fraction" id="pagination" ><span class="swiper-pagination__fraction-index">00</span><span class="swiper-pagination__fraction-divider">/</span><span class="swiper-pagination__fraction-count">00</span></div>
        <div class="swiper-pagination__divider" id="lineapag" ></div>
        <div class="swiper-pagination"></div>
    </div>
</section>